<div class="bg_image">
  <% if user_signed_in? %>
    <div class="bg_fff">
      <div class="wrapper">
        <h2 class="title flex flex_center">New arrival</h2>
            <div class="flex flex_wrap flex_start">
              <% @items.each do |item| %>
                <%= render partial: "item", locals: { item: item } %>
              <% end %>
            </div>

            <%= paginate @items %>
      </div>
    </div>
  <% else %>
    <div class="vh100">
      <h2><%= image_tag "catch01.png" %></h2>

      <div class="item_btn">
        <%= link_to new_user_registration_path, class: "btn flex flex_center" do %>
          <span class="material-symbols-rounded">person_add</span>
          <span>新規登録</span>
        <% end %>
      </div>

      <div class="flex flex_between catch">
        <div><%= image_tag "catch02.png" %></div>
        <div><%= image_tag "catch03.png" %></div>
        <div><%= image_tag "catch04.png" %></div>
      </div>
    </div>
  <% end %>
</div>