<h1>新着アイテム</h1>

  <% @items.each do |item| %>

    <% if item.image.attached? %>
      <%= link_to item_path(item) do %>
        <%= image_tag item.image, class: "item-box-img" %>
      <% end %>
    <% end %>

    <p><%= link_to item.name, item_path(item), class: :card__title %></p>
    <p><%= item.tags.pluck(:tag_name).join(', ') %></p>
      <table>
        <tbody>
          <tr>
            <th>コンディション</th>
            <td>
              <% if item.condition_id.present? %>
                <%= Condition.find(item.condition_id).name %>
              <% else %>
                -
              <% end %>
            </td>
          </tr>
          <tr>
            <th>レア度</th>
            <td>
              <% if item.rarity_id.present? %>
                <%= Rarity.find(item.rarity_id).name %>
              <% else %>
                -
              <% end %>
            </td>
          </tr>
          <tr>
            <th>型番</th>
            <td>
            <% if item.product.present? %>
              <%= item.product %>
            <% else %>
              -
            <% end %>
            </td>
          </tr>
          <tr>
            <th>発売時期</th>
            <td>
            <% if item.release.present? %>
              <%= item.release %>
            <% else %>
              -
            <% end %>
            </td>
          </tr>
          <tr>
            <th>入手ルート</th>
            <td>
              <% if item.route.present? %>
                <%= item.route %>
              <% else %>
                -
              <% end %>
            </td>
          </tr>
          <tr>
            <th>入手時期</th>
            <td>
              <% if item.get_date.present? %>
                <%= item.get_date %>
              <% else %>
                -
              <% end %>
            </td>
          </tr>
          <tr>
            <th>memo</th>
            <td>
              <% if item.memo.present? %>
                <%= item.memo %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
  <% end %>