<div class="bg_image">
  <% if user_signed_in? %>
    <div class="bg_fff">
      <div class="wrapper">
        <h2 class="page__title">New arrival</h2>
            <div class="itemList__container">
              <% @items.each do |item| %>
                <%= render partial: "item", locals: { item: item } %>
              <% end %>
            </div>

            <%= paginate @items %>
      </div>
    </div>
  <% else %>
    <div class="top-page--not-login">
      <div class="top-page__box">
        <h2><%= image_tag "catch01.png", class: "top-page__catch top-page__catch--main" %></h2>
      </div>

      <div class="top-page__box">
        <div class="top-page-not-login__button--sign-up">
          <%= link_to new_user_registration_path do %>
            <span class="material-symbols-rounded main__button--name">person_add</span>
            <span class="main__button--name">新規登録</span>
          <% end %>
        </div>
      </div>

      <div class="top-page__box box__catch-sub">
        <%= image_tag "catch02.png", class: "top-page__catch--sub"  %>
        <%= image_tag "catch03.png", class: "top-page__catch--sub"  %>
        <%= image_tag "catch04.png", class: "top-page__catch--sub"  %>
      </div>
    </div>
  <% end %>
</div>