<!DOCTYPE html>
<html>
  <head>
    <title>Magpie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300&family=Quicksand:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css"/>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="nav_grid gradient1" id="pc">
      <h1 class="title flex flex_center">
        <%#= link_to image_tag("logo.png", class:"logo"), "/" %>
        <%= link_to "/", class: "flex flex_center" do %>
          <span class="material-symbols-rounded">mosque</span>
          <span>Magpie</span>
        <% end %>
      </h1>

      <div class="grid_right flex flex_row flex_end">
        <% if user_signed_in? %>
          <div class="flex flex_center">
            <div class="view_all btn">
              <%= link_to "/", class: "flex flex_center" do %>
                <span class="material-symbols-rounded">apps</span>View all collection
              <% end %>
            </div>
          </div>

          <div class="flex flex_center">
            <%= form_with(url: search_items_path, local: true, method: :get, class: "flex flex_center") do |form| %>
              <%= form.text_field :search, placeholder: "検索ワード", class: "search_input" %>
              <%= form.submit "Search", class: "btn" %>
            <% end %>
          </div>

          <div class="flex flex_center flex_row">
            <div class="user_login">
              <h2>ようこそ、<%= current_user.nickname %>さん！</h2>
                <div class="logout btn">
                  <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
                    <span class="material-symbols-rounded">logout</span>
                    <span>Log out</span>
                  <% end %>
                </div>
            </div>
            <% unless current_page?(new_item_path) %>
              <%= link_to new_item_path, class: "new_create flex flex_center flex_column gradient2" do %>
                <span class="material-symbols-rounded">add</span>
                <span class='purchase-btn-text'>登録する</span>
              <% end %>
            <% end %>
          </div>

        <% else %>
            <div class="sign_in_log_in flex flex_center flex_end">
              <%= link_to new_user_session_path, class: "btn flex flex_center" do %>
                <span>Log in</span>
                <span class="material-symbols-rounded">login</span>
              <% end %>
              <%= link_to new_user_registration_path, class: "btn flex flex_center" do %>
                <span>Sign up</span>
                <span class="material-symbols-rounded">person_add</span>
              <% end %>
            </div>
        <% end %>
      </div>
    </header><!--//pc-->

    <div id="sp">
      <% if user_signed_in? %>
        <header class="nav_grid gradient1">
          <h1 class="title flex flex_center">
            <%#= link_to image_tag("logo.png", class:"logo"), "/" %>
            <%= link_to "/", class: "flex flex_center" do %>
              <span class="material-symbols-rounded">mosque</span>
              <span>Magpie</span>
            <% end %>
          </h1>
          <div class="grid_right flex flex_row flex_end">
            <div class="hamburger">
              <span class="material-symbols-rounded menu_open">menu</span>
              <span class="material-symbols-rounded menu_close">close</span>
            </div>
          </div>

          <% unless current_page?(new_item_path) %>
            <%= link_to new_item_path, class: "new_create flex flex_center flex_column gradient2" do %>
              <span class="material-symbols-rounded">add</span>
              <span class='purchase-btn-text'>登録する</span>
            <% end %>
          <% end %>
        </header>
        <ul class="sp_nav">
          <li>ようこそ、<%= current_user.nickname %>さん！</li>
          <li>
            <%= link_to "/", class: "flex flex_center" do %>
              <span class="material-symbols-rounded">apps</span>
              <span>View all</span>
            <% end %>
          </li>
          <li>
            <%= form_with(url: search_items_path, local: true, method: :get) do |form| %>
              <div class="flex flex_center">
                <span class="material-symbols-rounded">search</span>
                <span>Search</span>
              </div>
                <%= form.text_field :search, placeholder: "検索ワード", class: "search_input" %>
              <p class="sp_nav_btn"><%= form.submit "検索" %></p>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "flex flex_center" do %>
              <span class="material-symbols-rounded">logout</span>
              <span>Log out</span>
            <% end %>
          </li>
        </ul>

      <% else %>
        <header class="nav_grid gradient1">
          <h1 class="title flex flex_center">
            <%#= link_to image_tag("logo.png", class:"logo"), "/" %>
            <%= link_to "/", class: "flex flex_center" do %>
              <span class="material-symbols-rounded">mosque</span>
              <span>Magpie</span>
            <% end %>
          </h1>
        </header>
      <% end %>
    </div><!--//sp-->

    <%= yield %>
    <footer class="gradient1">
      <small>2023 marurun</small>
    </footer>
  </body>
</html>